#p1{
    background-color: rgb(255, 102, 0, 0.2);
    height: 200px;
    width: 100%;
}
#p2{
    background-color: rgb(255, 102, 0, 0.3);
    height: 200px;
    width: 100%;
}
#p3{
    background-color: rgb(255, 102, 0, 0.4);
    height: 200px;
    width: 100%;
}
#p4{
    background-color: rgb(255, 102, 0, 0.5);
    height: 200px;
    width: 100%;
}#p5{
    background-color: rgb(255, 102, 0, 0.6);
    height: 200px;
    width: 100%;
}#p6{
    background-color: rgb(255, 102, 0, 0.7);
    height: 200px;
    width: 100%;
}#p7{
    background-color: rgb(255, 102, 0, 0.8);
    height: 200px;
    width: 100%;
}
#p8{
    background-color: rgb(255, 102, 0, 0.9);
    height: 200px;
    width: 100%;
}
#p9{
    background-color: rgb(255, 102, 0, 1);
    height: 200px;
    width: 100%;
}
